*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#main{
    background-color: #eae9e9;

}

#header{
    text-align: center;
}

.nav{
    background-color: #000;
    color: #ccc;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.help{
    display: flex;
    justify-content: flex-end;
}   

.help i[class*=fa-]{
    font-size: 20px;
    line-height: 40px;
    padding: 0 16px;
    color: #ccc;
}

.help i:hover{
    background-color: #f44336 ;
    cursor: pointer;
}

.logo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

#content{
    width: 100%;
    padding: 0 60px;
}

.logo a{
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 3px;
}

.icon-list{
    position: relative;
}

.shopping-cart::before{
    content: "";
    border-style:solid;
    border-width: 8px 8px ;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 3% ;
    top: -16px;
}

.icon-list i[class*=fa-]{
    font-size: 20px;
    cursor: pointer;
    width: 30px;
}

.icon-list i:hover{
    color: rgb(201, 43, 22);
}

.icon-list li:last-child{
    margin-left: 20px;
}

.shopping-cart{
    position: absolute;
    width: 380px;
    top: calc(100% + 10px);
    right: -20%;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    display: none ;
    border-radius: 10px;
}

.icon-list-wrap:hover .shopping-cart{
    display: block;
}

.cart-img{
    width: 70%;
}

.no-item-cart{
    font-size: 15px;
    position: absolute;
    top: 80%;
    width: 100%;
}

#content{
    display: flex;
    margin-top: 30px;
}

.left-column{
    width: 20%;
    margin: 20px 16px 0;
    text-align: center;
}

.menu-lists{
    background-color: #ccc;
    list-style: none;
    padding: 16px 0;
    border-radius: 5px;
    min-width: 160px;
}

.menu-lists a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    font-size: 18px;
}

.animation{
    animation: animate 3s infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


hr{
    border: none;
    border-top: 1px solid rgb(101, 98, 98);
    margin: 40px 0;
}

.right-column{
    width: 80%;
    margin: 0 16px;
}

#new-product{
    font-size: 35px;
    margin-left: 16px;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
}

.item-wrap{
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.item{
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}


.item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.price{
    text-align: center;
    font-size: 18px;
}

.item-price{
    padding: 0 20% 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 4px;
}

.item-old-price{
    text-decoration: line-through;
    color: #666;
}

.item-label{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(21, 18, 18);
    color: #fff;
    padding: 6px 10px;
    font-size: 17px;
}

#contact{
    padding: 0 20px 40px;
}

.contact-label{
    font-size: 25px;
    margin-left: 10px;
}

.contact-point{
    padding: 2px 0;
}

.contact-point span{
    display: inline-block;
    width: 100px;
}

.contact-point a{
    color: rgb(64, 64, 187);
}

.contact-point a:hover{
    color: blue;
}

.social-icon-list i[class*="fa-"]{
    padding: 4px 4px;
    font-size: 20px;
}

.social-icon-list i:hover{
    opacity: 70%;
    cursor: pointer;
}

#footer{
    width: 100%;
    background: linear-gradient(45deg,#5e5ee1,rgb(94, 187, 94),#ca8080);
    background-size: 400%;
    color: #fff;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content:space-around;
    animation: gradient 5s infinite;
}

@keyframes gradient{
    0%, 100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}

.copyright{
    color: #ccc;
}

.top{
    padding: 8px 10px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.top:hover{
    opacity: 80%;
}

